.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tablesContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  overflow-y: scroll;
  padding: 0px 10px;
}
